/* add your styles here */
.primary {
    position: absolute;
    z-index: -1;
    transition: transform 0.2s;
}

.secondary {
    opacity: 0;
    transform: rotateY(-180deg);
    transition: opacity 2s;
    transition: transform 0.2s;
}

.secondary:hover {
    opacity: 1;
}

.portfolio-item:hover .primary {
      transform: rotateY(-180deg);
}

.portfolio-item:hover .secondary {
      transform: rotateY(0);
}
